{% extends 'base.html.twig' %}
{% block body %}
	<section id="profile-settings">
		<h1 class="header orange text-center">Settings</h1>

		{{ form_start(form, {'attr': {'id':'motto-form', 'class':'drop-shadow'}}) }}

		{{ form_widget(form.motto, {
			'attr': {
				'class' : 'grey',
			}
		}) }}

		{{ form_widget(form.Submit, {
			'attr': {
				'class' : 'active blue drop-shadow'
			}
		} )
		}}

		{{ form_end(form) }}

	</section>
{% endblock %}
