{% extends "base.html.twig" %}
{% block body %}
	<div class="image-wrapper">
		<img class='kotc-logo' src="{{ asset('build/images/Logotype.png') }}" alt="ACME logo">
		<h1 class="find-leaderboard drop-shadow text-center">
			<a class='grey' href="{{ path('app_search')}}">Find A League Leaderboard</a>
		</h1>
	</div>
{% endblock %}
