/.env.local
/.env.local.php
/.env.*.local
*.env
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/bin/
/var/
/vendor/
/.vscode/
.php_cs.cache

###> symfony/webpack-encore-bundle ###
node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
