<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__ . '/src')
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@PSR2' => true,
        'array_syntax' => ['syntax' => 'short'],
        'concat_space' => ['spacing' => 'one'],
        'trim_array_spaces' => true,
        'yoda_style' => false,
        'single_blank_line_before_namespace' => true,
        'array_indentation' => true,
        'single_quote' => true,
    ])
    ->setFinder($finder)
    ->setUsingCache(true);
;
