/* 
400 - Regular
600 - Semi-bold
700 - Bold
*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&display=swap');

:root {
  --light-grey: 250, 250, 250;
  --mid-grey: 229, 229, 229;
  --dark-grey: 200, 200, 200;
  --grey: 113, 113, 113;
  --orange: 239, 144, 129;
  --peach: 250, 201, 194;
  --light-blue: 213, 238, 246;
  --mid-blue: 125, 208, 232;
  --blue: 60, 127, 152;
  --teal: 125, 208, 232;
  --error-red: 232, 9, 35;
  font-size: 10px;
}
html {
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  background-color: rgb(var(--light-grey));
  font-family: 'Nunito Sans', sans-serif;
  padding: 0;
  margin: 0;
  line-height: 1.2rem;
}
nav {
  position: fixed;
  width: 50vw;
  height: 100vh;
  top: 0;
  right: 0;
  background: rgb(var(--peach));
  transition: all 0.5s cubic-bezier(0.56, 0, 0.32, 1);
  z-index: 999;
}
a {
  text-decoration: none;
}
p {
  font-size: 1.2rem;
  line-height: 1.2rem;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
/* clear button styles */
button {
  border: none;
  background: transparent;
}
input:focus {
  /* clears highlight around input fields */
  outline: none;
}

#nav-title,
#nav-user {
  font-size: 1.8rem;
  padding: 1.2rem 0;
  line-height: 2.4rem;
  font-weight: 700;
}
nav ul {
  margin: 4.8rem 0 0 0;
  padding: 0 1.2rem 0 0;
}
nav li {
  text-align: right;
  list-style: none;
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  line-height: 1.2rem;
  padding: 0 0 1.2rem 0;
}
nav a {
  color: white;
}
#target-button {
  top: 0;
  position: absolute;
  right: 0;
  width: 2.4rem;
  height: 2.4rem;
  margin: 1.2rem;
  cursor: pointer;
  z-index: 1000;
}

#circle {
  display: inline-block;
  position: absolute;
  border-radius: 50%;
}
#target-button > * {
  border: 2px solid white;
  transition: all 0.5s cubic-bezier(0.56, 0, 0.32, 1);
}
#target-button.orange > * {
  border: 2px solid rgb(var(--orange));
}
.circle1 {
  height: 2.4rem;
  width: 2.4rem;
}
.circle2 {
  height: 1.2rem;
  width: 1.2rem;
  margin: 0.6rem;
}
.circle3 {
  height: 0rem;
  width: 0rem;
  position: absolute;
  margin: 1.2rem;
}
.closed {
  right: -50vw;
}

nav hr {
  width: 10.8rem;
  border: 1px solid white;
  margin: 2.4rem 0 2.4rem 9.2rem;
}
.image-wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.kotc-logo {
  width: 35.8rem;
  margin: 26.4rem auto 0 auto;
}
.find-leaderboard {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1.2rem 3.6rem;
  background: white;
  margin: 3.6rem auto 0 auto;
  outline: 2px solid rgb(var(--light-blue));
}

.header {
  font-size: 2.4rem;
  line-height: 2.4rem;
  letter-spacing: 1px;
}
/* LEADERBOARD SECTION */
.player-block {
  max-height: 10.8rem;
  background: white;
  margin-bottom: 2.4rem;
  padding: 1.2rem;
  display: block;
  position: relative;
}
#player-content {
  position: relative;
  display: grid;
  grid-template-columns: 8.4rem auto 8.4rem;
  grid-gap: 1.2rem;
  z-index: 1;
}
#gradient {
  top: 0;
  left: 0;
  z-index: 0;
  display: block;
  width: 10.8rem;
  height: 100%;
  position: absolute;
  background: linear-gradient(
    45deg,
    rgba(213, 238, 246, 1) 0%,
    rgba(213, 238, 246, 1) 50%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}
.player-block:first-of-type > #gradient {
  background: linear-gradient(
    45deg,
    rgba(213, 238, 246, 1) 0%,
    rgba(125, 208, 232, 1) 50%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}
.player-block:first-of-type {
  box-shadow: 0 16px 16px rgba(125, 208, 232, 0.2);
}
.player-block:first-of-type .player-score {
  font-weight: 800;
}
.player-name {
  font-size: 1.4rem;
  letter-spacing: 1px;
}
.player-headshot {
  width: 8.4rem;
  height: 8.4rem;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid white;
}
.player-score {
  font-size: 2.4rem;
  line-height: 1;
}
.center-content,
.right-content {
  margin: auto 0;
}
.dot {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgb(var(--dark-grey));
}
.dot:not(.hor) {
  margin-bottom: 2px;
}
.hor {
  display: inline-block;
}
.vert {
  display: block;
}
#profileButton {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1.2rem;
  cursor: pointer;
  z-index: 5;
}
/* SECTIONS */
section {
  padding: 0 1.2rem;
}
section#login,
section#register,
section#leagues {
  margin: 12rem 0 0 0;
}
section#user {
  margin: 6rem 0 0 0;
}
section#leaderboard {
  margin: 8.4rem 0 0 0;
}
/* LEAGUES */
ul#league-list {
  padding: 0;
  margin: 0;
}
ul#league-list li {
  list-style: none;
  line-height: 2.4rem;
  font-size: 1.2rem;
}
ul#league-list a {
  color: rgb(var(--grey));
}
/* USER PAGE */
section#user h2 {
  font-size: 1.2rem;
  margin: 0;
  padding-bottom: 1.2rem;
}
#user-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#player-name {
  font-size: 1.6rem;
  letter-spacing: 1px;
  line-height: 1.2rem;
}
#player-motto {
  line-height: 1.2rem;
  font-size: 1rem;
}
#breakdown li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#hitHistory li,
#topTargets li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 0;
  border-bottom: 1px solid rgb(var(--light-blue));
}
#hitHistory li > *:not(a),
#topTargets li > * {
  flex: 1 1 0px;
}
.breakdown-total {
  font-size: 2.4rem;
  line-height: 2.4rem;
}
#breakdown ul {
  display: flex;
  justify-content: space-evenly;
}
#hitHistory ul,
#topTargets ul {
  padding: 0 2.4rem;
}
.stat {
  font-size: 1.4rem;
  line-height: 1.2rem;
}
#breakdown,
#hitHistory,
#topTargets {
  background: white;
  padding: 1.2rem 0;
  margin-bottom: 2.4rem;
}
#user .label {
  color: rgb(var(--dark-grey));
  font-size: 1.2rem;
  line-height: 1.2rem;
}

/* LOGIN / REGISTER SECTION */
#login-form,
#register-form {
  padding: 2.4rem;
  background: white;
}
form input {
  border: none;
  margin-bottom: 1.2rem;
  border-bottom: 1px solid rgb(var(--light-blue));
  line-height: 2.4rem;
  display: block;
  width: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* input[type="password"] {
  letter-spacing: 5px;
} */
form input::placeholder {
  color: rgb(var(--dark-grey));
  letter-spacing: unset !important;
}
form a {
  font-size: 1.2rem;
  line-height: 2.4rem;
}
form button {
  line-height: 2.4rem;
  margin-top: 1.2rem;
  font-size: 1.2rem;
  padding: 0 1.2rem;
}
form button.inactive {
  background: rgb(var(--mid-grey));
  border: 1px solid rgb(var(--dark-grey));
}
form button.active {
  background: rgb(var(--light-blue));
  border: 1px solid rgb(var(--mid-blue));
  cursor: pointer;
}
#button-items {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
#names {
  display: flex;
  justify-content: space-between;
}
#form_lastName,
#form_firstName {
  width: calc(50% - 1.2rem);
}
#register-button {
  margin-right: 3.6rem;
}

/* FORM ERRORS */
#errors {
  padding-top: 2.4rem;
}
#errors ul {
  padding: 0;
  margin: 0;
  display: block;
  color: rgb(var(--error-red));
}
#errors li {
  display: block;
  font-size: 1.2rem;
  line-height: 1.2rem;
  padding-bottom: 1.2rem;
}

/* GLOBAL STYLES */
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.drop-shadow {
  box-shadow: 0 10px 10px rgba(37, 69, 81, 0.08);
}
.text-shadow {
  text-shadow: 0 10px 10px rgba(37, 69, 81, 0.08);
}
.blue {
  color: rgb(var(--blue));
}
.grey {
  color: rgb(var(--grey));
}
.grey {
  color: rgb(var(--grey));
}
.dark-grey {
  color: rgb(var(--dark-grey));
}
.orange {
  color: rgb(var(--orange));
}
.peach {
  color: rgb(var(--peach));
}
.extra-bold {
  font-weight: 800;
}
.bold {
  font-weight: 700;
}
.semi-bold {
  font-weight: 600;
}
.light {
  font-weight: 400;
}
