{% extends "base.html.twig" %}
{% block body %}
	<h3>Current Leagues</h3>
	<ul>
		{% for league in leagues %}
			<li>
				{# <a href="{{ path('league', {league_name: league.leagueName}) }}">{{ league.leagueName }}</a> #}
				<a href="/league/{{league.leagueName}}">{{ league.leagueName }}</a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
