{% extends "base.html.twig" %}
{% block body %}
	<section id="leagues">
		<h1 class="header orange text-center text-shadow">Current Leagues</h1>
		<ul id="league-list" class="text-center">
			{% for league in leagues %}
				<li>
					<a href="/league/{{league.leagueName}}">{{ league.leagueName }}</a>
				</li>
			{% endfor %}
		</ul>
	</section>
{% endblock %}
